// ************ Variables *************

// Body background gradient colors
$body-bg-gradient: linear-gradient(222deg, #3b1d60 1.22%, #040d3e 20%);

// Fonts
$primary-font-family: "Inter", sans-serif;
$second-font-family: "Open Sans", sans-serif;
$third-font-family: "Rubik", sans-serif;

// Text colors
$title-color: #99efd0;
$title-span-color: #f2994a;
$text-color: #8476aa;
$text-color-2: rgb(194, 194, 194);

// CTA section bg color
$cta-bg-color: rgb(30, 32, 71);

// Button color
$btn-bg-color: #f2994a;
