// ********************************************
//          MAIN FOOTER - COPY SECTION
// ********************************************

.footer-copy-section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @include flexbox($justify: space-between);

  // ---- Wrapper ----
  &-wrapper {
    width: 100%;
  }

  // ---- Item ----
  &__item {
    width: 30%;
    color: $text-color-2;
    text-decoration: none;
    text-align: center;
    transition: color 0.5s;
    font: {
      size: 1.3rem;
      family: $second-font-family;
      weight: 400;
    }
    &:hover {
      color: #fff;
    }
    &:active {
      color: $title-color;
    }
    @media screen and (min-width: 1100px) {
      font-size: 1.5rem;
    }
  }
}
