// ***********************************
//       MAIN HEADER ILLUSTRATION
// ***********************************

.main-header__illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(75%, 65%);

  @media screen and (min-width: 360px) {
    transform: translate(68%, 65%);
  }
  @media screen and (min-width: 425px) {
    transform: translate(60%, 65%);
  }
  @media screen and (min-width: 500px) {
    transform: translate(55%, 65%);
  }
  @media screen and (min-width: 850px) {
    transform: translate(55%, 30%);
  }
  @media screen and (min-width: 768px) {
    transform: translate(65%, 35%);
  }
  @media screen and (min-width: 1100px) {
    transform: translate(28%, 30%);
  }
  @media screen and (min-width: 1300px) {
    transform: translate(15%, 20%);
  }
}
