// ****************************************
//       MAIN HEADER - TOP SECTION
// ****************************************

.main-header .top-section {
  @include flexbox($justify: space-between);
  margin-bottom: 50px;
  width: 80%;

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
    width: 100%;
  }

  // Logo
  &__logo {
    width: 5rem;
    
    @media screen and (min-width: 768px) {
      width: 4rem;
    }
  }

  // CTA buttons
  .cta-section {
    display: none;
    @media screen and (min-width: 425px) {
      display: block;
      margin-right: 7rem;
    }
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }

    &__btn {
      @include general-button;
      transition: background-color 0.5s;

      &:nth-child(1) {
        @include ghost-button;
        margin-right: 10px;
        transition: border-color 0.5s;

        &:hover {
          border-color: darken($btn-bg-color, 20%);
          cursor: pointer;
        }
        &:active {
          border-color: lighten($btn-bg-color, 10%);
        }
      }
      &:nth-child(2) {
        &:hover {
          background-color: darken($btn-bg-color, 20%);
          cursor: pointer;
        }
        &:active {
          background-color: lighten($btn-bg-color, 10%);
        }
      }
    }
  }
}
