// **********************************
//     MAIN HEADER - CONTENT
// **********************************

.main-header-content {
  @include flexbox($wrap: wrap);
  width: 80%;
  max-width: 340px;

  @media screen and (min-width: 768px) {
    max-width: 375px;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1300px) {
    max-width: 500px;
  }

  // Content - title
  &__title {
    color: $title-color;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    font: {
      size: 2.5rem;
      family: $primary-font-family;
      weight: 700;
    }

    @media screen and (min-width: 768px) {
      text-align: left;
      font-size: 3rem;
      line-height: 35px;
    }

    @media screen and (min-width: 1300px) {
      font-size: 4rem;
      line-height: 45px;
      margin-bottom: 30px;
    }
  }

  // Content - description
  &__description {
    color: $text-color;
    line-height: 22px;
    text-align: center;
    margin-bottom: 25px;
    font: {
      size: 1.4rem;
      family: $second-font-family;
    }

    @media screen and (min-width: 768px) {
      text-align: left;
    }
    @media screen and (min-width: 1300px) {
      max-width: 400px;
      margin-bottom: 40px;
    }
  }
}
