// **********************************
//         MAIN HEADER
// **********************************

.main-header {
  @include flexbox($wrap: wrap);
  position: relative;
  margin-bottom: 60px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 80%;
    max-width: 700px;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1100px) {
    margin-bottom: 200px;
    max-width: 900px;
  }

  @media screen and (min-width: 1300px) {
    max-width: 1100px;
  }
}
